# Postgres credentials
POSTGRES_HOST=<POSTGRES_HOST>
POSTGRES_USER=<POSTGRES_USER>
POSTGRES_PASSWORD=<POSTGRES_PASSWORD>
POSTGRES_DB=<POSTGRES_DB>

# Grafana
GF_SECURITY_ADMIN_USER=<GRAFANA_ADMIN>
GF_SECURITY_ADMIN_PASSWORD=<GRAFANA_PWD>

# Twelve-Data
TWELVEDATA_API_KEY=<TWELVEDATA_API_KEY>

